<h1>{form_title}</h1>

<form method="{method}" action="{action}">
  {form|s}
  <input type="submit" value="Save Timesheet" />
</form>

<script src="{baseURL}/static/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var userlist = [];
        var users = require("users");
        users.list(function (err, list) {
            if (list) {
                $.each(list, function(key, val) {
                    userlist.push(val.id.split(':')[1]);
                });
           };
        });  
        userlist.sort();
        $('#id_volunteer').typeahead({source: userlist, items:5});
        $("fieldset:contains('Date')").attr('id', 'date-fieldset');
        $('#date-fieldset').collapse('hide');
        $('#id_date').datepicker({format: 'yyyy,mm,dd'});
    });
</script>
