<h1>{form_title}</h1>

<form method="{method}" action="{action}">
  {form|s}
  <input type="submit" value="{button}" />
</form>

<script type="text/javascript">
    jQuery(document).ready(function() {
        var users = [];
        $.getJSON('/_users/_design/_users/_view/all_users', function(data) {
          $.each(data['rows'], function(key, val) {
            users.push(val.key);
          });
        });
        users.sort();
        $('#id_volunteer').typeahead({source: users, items:5});
        $('#id_work_code').hide();
    });
</script>
