<head></head>
    <!-- Eventually, logo and address info might be better outside template -->
    <div class="logo"><h1>Free<br/>Geek</h1>Twin Cities</div>
    
    <div class="receipt-header">{transaction.transaction_type}<br/>Receipt</div>

    <div style="float:right; clear:right; text-align:right"><p>Free Geek Twin Cities is an<br/>all-volunteer organization that <br/>reuses and recycles computers<br/>to provide technical education<br/>and access to our community.</p></div>
    
    <p>Free Geek Twin Cities<br/>
    2310 Snelling Ave<br/>
    Minneapolis, MN 55404<br/>
    http://freegeektwincities.org</p>
    
    <p>
    <strong>{transaction.party.name}</strong><br/>
    {transaction.party.email}
    </p>
    
    {?transaction.date}
        <p><script>var d=new Date({transaction.date.year},{transaction.date.month},{transaction.date.day});var n=d.toLocaleDateString();document.write(n)</script></p>
    {:else}
        <p><script>var d=new Date({transaction.audit.createdTime});var n=d.toLocaleDateString();document.write(n)</script></p>
    {/transaction.date}
    
    {?transaction.items}
    <table class="receipt-table">
        <tr><th>Quantity</th><th>Description</th></tr>
        {#transaction.items}
            <tr><td>{.quantity}</td><td>{.description}</td></tr>
        {/transaction.items}
    </table>
    <br/>
    {/transaction.items}
    
    {?transaction.payments}
        <table class="receipt-table">
            <tr><th>Payment Received</th><tr>
            {#transaction.payments}
                <tr><td>{.}</td></tr>
            {/transaction.payments}
        </table>
        <br/>
    {/transaction.payments}

    
    {?transaction.comments}
        <table class="receipt-table">
            <tr><th>Comments</th><tr>
            <tr>{transaction.comments}</tr>
        </table>
    {/transaction.comments}
