<h2>Index of transactions</h2>

<p><a href="{baseURL}/transaction/add">New Transaction</a></p>

{?transactions}
  <h3>Recent Transactions:</h3>
  <ul>
	{#transactions}
	    <li><a href="{baseURL}/transaction/{value._id}"><script>var d=new Date({value.date});var n=d.toLocaleString();document.write(n)</script> {value.party.name} {value.transaction_type}</a> <!--<a href="transaction/edit/{value._id}"><i class="icon-edit"></i></a>--></li>
  	{/transactions}
  </ul>
 {:else}
  <p>No transactions.</p>
{/transactions}
