<h2>Index of transactions</h2>

{?transactions}
  <ul>
	{#transactions}
	    
	    <li><a href="{baseURL}/transaction/{value._id}"><script>var d=new Date({value.audit.createdTime});var n=d.toLocaleString();document.write(n)</script> {value.party.name} {value.transaction_type}</a></li>
  	{/transactions}
  </ul>
 {:else}
  <p>No transactions.</p>
{/transactions}

<p><a href="{baseURL}/transaction/add">New Transaction</a></p>

{?timesheet_lines}
  <h2>Recent Work<h2>
  <ul>
    {#timesheet_lines}
      <li>{value.creator} spent {value.hours} hours on {value.work}</li>
    {/timesheet_lines}
  </ul> 
{/timesheet_lines}

<p><a href="{baseURL}/timesheet/add">New Timesheet Line</a></p>
