<script src="{baseURL}/static/js/moment.min.js"></script>
<h2>Index of transactions</h2>

<p><a href="{baseURL}/transaction/add">New Transaction</a></p>

{?transactions}
  <h3>Recent Transactions:</h3>
  <ul>
	{#transactions}
	    <li><a href="{baseURL}/transaction/{value._id}">
	    {?value.date}
		<script>var transaction_date = new Date([{value.date}]); document.write(transaction_date.toLocaleDateString())</script> 
	    {:else}
		<script>var d = new Date({value.audit.createdTime}); document.write(d.toDateString());</script>
	    {/value.date}
	    {value.party.name} {value.transaction_type}</a> <!--<a href="transaction/edit/{value._id}"><i class="icon-edit"></i></a>--></li>
  	{/transactions}
  </ul>
{:else}
  <p>No transactions.</p>
{/transactions}
